{% extends 'base.html '%}
{% load static %}
{% block title %}  | Home {% endblock %}
{% load humanize %}
{% block content %}

    <!-- Banner start -->
    {% include 'includes/banner.html' %}
    <!-- Banner end -->
        <!-- Featured car start -->
        <div class="featured-car content-area-5">
            <div class="container">
                <!-- Main title -->
                <div class="main-title">
                    <h1>Featured <span>Cars</span></h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
                <!-- Slick slider area start -->
                <div class="slick-slider-area clearfix">
                    <div class="row slick-carousel"
                        data-slick='{"slidesToShow": 3, "responsive":[{"breakpoint": 1024,"settings":{"slidesToShow": 2}}, {"breakpoint": 768,"settings":{"slidesToShow": 1}}]}'>
                       
                       {% for fea in features_cars%}
                        <div class="slick-slide-item">
                            <div class="car-box-3">
                                <div class="car-thumbnail">
                                    <a href="{% url 'cars_detail' fea.id %}" class="car-img">
                                        <div class="tag-2">Featured</div>
                                        <div class="price-box">
                                            <span class="del"><del>${{ fea.price  | intcomma }}</del></span>
                                            <br>   
                                            <span>${{ fea.state }}</span>
                                        </div>
                                        <img  style="min-height: 262px; max-height: 262px"  class="d-block w-100" src="{{ fea.car_photo.url }}" alt="car">
                                    </a>
                                    <div class="carbox-overlap-wrapper">
                                        <div class="overlap-box">
                                            <div class="overlap-btns-area">
                                                <div class="car-magnify-gallery">
                                                    {% if fea.car_photo_1 %}
                                                    <a href="{{ fea.car_photo_1.url }}" class="overlap-btn">
                                                        <i class="fa fa-expand"></i>
                                                        <img class="hidden" src="{{ fea.car_photo_1.url }}">
                                                    </a>
                                                    {% endif %}
                                                    {% if fea.car_photo_2 %}
                                                    <a href="{{ fea.car_photo_2.url }}" class="hidden">
                                                        <img class="hidden" src="{{ fea.car_photo_2.url }}">
                                                    </a>
                                                    {% endif %}
                                                    {% if fea.car_photo_3 %}
                                                    <a href="{{ fea.car_photo_3.url }}" class="hidden">
                                                        <img class="hidden" src="{{ fea.car_photo_3.url }}">
                                                    </a>
                                                    {% endif %}
                                                    {% if fea.car_photo_4 %}
                                                    <a href="{{ fea.car_photo_4.url }}" class="hidden">
                                                        <img class="hidden" src="{{ fea.car_photo_4.url }}">
                                                    </a>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="detail">
                                    <h1 class="title">
                                        <a href="{% url 'cars_detail' fea.id %}">{{ fea.car_title }}</a>
                                    </h1>
                                    <div class="location">
                                        <a href="{% url 'cars_detail' fea.id %}">
                                            <i class="flaticon-pin"></i>{{ fea.state }}
                                        </a>
                                    </div>
                                    <ul class="facilities-list clearfix">
                                        
                                        {% for f in fea.features %}
                                            <li> {{ f }} </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
 
                    </div>
                    <div class="slick-btn">
                        <div class="slick-prev slick-arrow-buton sab-4">
                            <i class="fa fa-angle-left"></i>
                        </div>
                        <div class="slick-next slick-arrow-buton sab-3">
                            <i class="fa fa-angle-right"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Featured car end -->
        
        <!-- Rent car start -->
        <div class="featured-car content-area">
            <div class="container">
                <!-- Main title -->
                <div class="main-title">
                    <h1>Latest <span>Cars</span></h1>
                    <p>{{ las.description }}.</p>
                </div>
                <div class="row">
                    {% for las in latest_cars %}
                    <div class="col-lg-4 col-md-6">
                        <div class="car-box">
                            <div class="car-thumbnail">
                                <a href="{% url 'cars_detail' las.id %}" class="car-img"> 
                                    <div class="tag">For Sale</div>
                                    <img style="min-height: 262px; max-height: 262px" class="d-block w-100" src="{{ las.car_photo.url }}" alt="car">
                                    <div class="facilities-list clearfix">
                                        <ul>
                                            <li>
                                                <span><i class="flaticon-way"></i></span>{{ las.miles | intcomma}}
                                            </li>
                                            <li>
                                                <span><i class="flaticon-calendar-1"></i></span>{{ las.year }}
                                            </li>
                                            <li>
                                                <span><i class="flaticon-manual-transmission"></i></span>{{ las.milage }}
                                            </li>
                                        </ul>
                                    </div>
                                </a>
                                <div class="carbox-overlap-wrapper">
                                    <div class="overlap-box">
                                        <div class="overlap-btns-area">
                                            <div class="car-magnify-gallery">
                                                {% if las.car_photo_1 %}
                                                <a href="{{ las.car_photo_1.url }}" class="overlap-btn">
                                                    <i class="fa fa-expand"></i>
                                                    <img class="hidden" src="{{ las.car_photo_1.url }}">
                                                </a>
                                                {% endif %}
                                                {% if las.car_photo_2 %}
                                                <a href="{{ las.car_photo_2.url }}" class="hidden">
                                                    <img class="hidden" src="{{ las.car_photo_2.url }}">
                                                </a>
                                                {% endif %}
                                                {% if las.car_photo_3 %}
                                                <a href="{{ las.car_photo_3.url }}" class="hidden">
                                                    <img class="hidden" src="{{ las.car_photo_3.url }}">
                                                </a>
                                                {% endif %}
                                                {% if las.car_photo_4 %}
                                                <a href="{{ las.car_photo_4.url }}" class="hidden">
                                                    <img class="hidden" src="{{ las.car_photo_4.url }}">
                                                </a>
                                                {% endif %}
                                          
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="detail">
                                <h1 class="title">
                                    <a href="{% url 'cars_detail' las.id %}">{{ las.car_title}} </a>
                                </h1>
                                <div class="location">
                                    <a href="{% url 'cars_detail' las.id %}">
                                        <i class="flaticon-pin"></i>{{ las.state}}
                                    </a>
                                </div>
                            </div>
                            <div class="footer clearfix">
                                <div class="pull-left ratings days">
                                    <p class="cartype">{{ las.model}}</p>
                                </div>
                                <div class="pull-right">
                                    <p class="price">${{ las.price | intcomma }}  </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <!-- Rent car end -->
        
        
        <!-- Our team start -->
        <div class="our-team content-area bg-grea-3">
            <div class="container">
                <!-- Main title -->
                <div class="main-title">
                    <h1>Executive <span>Team</span></h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
                </div>
                <!-- Slick slider area start -->
                <div class="slick-slider-area clearfix">
                    <div class="row slick-carousel"
                        data-slick='{"slidesToShow": 4, "responsive":[{"breakpoint": 1024,"settings":{"slidesToShow": 2}}, {"breakpoint": 768,"settings":{"slidesToShow": 1}}]}'>
                        
                        {% for team in teams %}

                        <div class="slick-slide-item">
                            <div class="team-1">
                                <div class="photo">
                                    <a href="#">
                                        <img src="{{ team.photo.url }}" alt="team-1" class="img-fluid">
                                    </a>
                                    <div class="social-list clearfix">
                                        <a href="{{ team.facebook_link }}" class="facebook-bg"><i class="fa fa-facebook"></i></a>
                                        <a href="{{ team.twittter_link }}" class="twitter-bg"><i class="fa fa-twitter"></i></a>
                                        <a href="{{ team.google_plust_link }}" class="google-bg"><i class="fa fa-google"></i></a>
                                    </div>
                                </div>
                                <div class="details">
                                
                                     <h4><a href="team-detail.html">{{ team.firstname }} {{ team.lastname }}</a></h4>
                                    <h5>{{ team.designation }}</h5>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
        
                    </div>
                </div>
            </div>
        </div>
        <!-- Our team end -->
        
        <!-- Intro section start -->
        <div class="intro-section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9 col-md-8 col-sm-12">
                        <div class="intro-text">
                            <h3>Do You Have Questions ?</h3>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-12">
                        
                        <a href="{% url 'contact'%}" class="btn btn-md">Get in Touch</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Intro section end -->

        
{% endblock %}